### Pour désactiver la coloration des logs
### NO_COLOR=true 

### API DOCUMENTATION
DOC_LOGIN=root
DOC_PASSWORD=root

### Minio 
S3_BUCKET_NAME_RAW=juritj-test-bucket-raw
S3_BUCKET_NAME_NORMALIZED=juritj-test-bucket-normalized
S3_URL=http://localhost:9000
## to docker use host.docker.internal over localhost
S3_ACCESS_KEY=local_access_key
S3_SECRET_KEY=local_secret_key
S3_REGION=eu-west-paris-1

### DbSder API
DBSDER_API_URL=http://localhost:3008
## to docker use host.docker.internal over localhost
DBSDER_API_KEY=9ad44ab5-3416-4989-90a6-3cfe972175de

### Jurinorm
JURINORM_API_URL=http://localhost:3003
JURINORM_API_KEY=cf01e595-4798-4d18-9ed0-653a6f391425

### Batch
NORMALIZATION_BATCH_SCHEDULE='* * * * *'  #lancer le batch toutes les minutes

### Date of commissioning
COMMISSIONING_DATE=2023-02-10

PORT=3009