ENV=LOCAL

### Minio 
S3_BUCKET_NAME_RAW=juritj-test-bucket-raw
S3_URL=http://localhost:9000
## to docker use host.docker.internal over localhost
S3_ACCESS_KEY=local_access_key
S3_SECRET_KEY=local_secret_key
S3_REGION=eu-west-paris-1

## to docker use host.docker.internal over localhost
FILE_DB_URL=mongodb://localhost:55433/rawFiles

### APP
PORT=3009